In [14]:
print("this is my prog")

this is my prog

In [5]:
l = [1,2,3,4,5]

In [15]:
len(l)

5

 # if we not give any definition to our function it will give error so for this we use pass keyword.

In [18]:
def test():
    pass

In [20]:
def test1():
    print("this is my first function")

In [21]:
test1()

this is my first function

In [22]:
test1()

this is my first function

In [23]:
test1() + "ronak"

this is my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

# above program give error because print return NoneType.

In [24]:
def test2():
    return  "this is my function with return "

In [25]:
test2()

'this is my function with return '

In [26]:
test2() + "ronak"

'this is my function with return ronak'

In [27]:
def test3():
    return 1,4,"pwskills",34.56

In [28]:
test3()

(1, 4, 'pwskills', 34.56)

In [29]:
a = 1,2,3,4,5

In [30]:
a

(1, 2, 3, 4, 5)

In [37]:
a,b,c,d = 1,2,34.56,True

In [32]:
a

1

In [33]:
b

2

In [34]:
c

34.56

In [35]:
d

True

 # In case of multiple return function return as tuple

In [38]:
test3()

(1, 4, 'pwskills', 34.56)

In [39]:
test3()[2]

'pwskills'

In [40]:
a,b,c,d = test3()

In [41]:
a

1

In [42]:
c

'pwskills'

In [44]:
def test4():
    a = 3*4+5
    return a

In [45]:
type(test4())

int

In [46]:
def test5(a,b):
    c = a+b
    return c

In [47]:
test5(2,3)

5

In [48]:
test5("sudh","kumar")

'sudhkumar'

In [49]:
type(test5(2,3))

int

In [50]:
type(test5("sudh","kumar"))

str

In [51]:
test5([1,2,3],[4,5,6,7])

[1, 2, 3, 4, 5, 6, 7]

In [52]:
test5(b = "goyal" , a = "ronak ")

'ronak goyal'

In [53]:
l = [1,2,3,4,5,6,7,8,"ronak","goyal",[1,2,3,4,5]]

In [ ]:
# create a function which will take list as a input and give me a final list with all the numeric value

In [54]:
def test6(a):
    n = []
    for i in a:
        if type(i) == int or type(i) == float :
            n.append(i)
    return n

In [55]:
test6(l)

[1, 2, 3, 4, 5, 6, 7, 8]

In [58]:
def test7(a):
    n = []
    for i in a:
        if type(i) == list :
            for j in i:
                if type(j) == int or type(j) == float :
                    n.append(j)
        else :
            if type(i) == int or type(i) == float :
                n.append(i)
    return n

In [59]:
test7(l)

[1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5]